<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit user information:</h2>
    <form action="http://localhost:8080/user/<%=user.id%>?_method=PATCH" method="post">
        <fieldset>
            <legend><strong>Personal information</strong> </legend>
            <p>Username</p>
            <input type="text" name="username" id="user" value="<%= user.username %>">
            <p>Email</p>
            <input type="email" name="email" id="email" value="<%=user.email  %>"> <br> <br>
            <p>Password</p>
            <input type="password" name="password" placeholder="enter password" >
            <input type="submit" value="submit">
        </fieldset>
    </form>
</body>
</html>