<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="http://localhost:8080/user" method="post">
       <fieldset>
        <legend>
            <h1>Add a new user</h1> </legend>
            <p>Username:</p>
            <input type="text" name="newuser" placeholder="enter a username">
            <p>Email:</p>
            <input type="text" name="newemail" placeholder="enter a email">
             <p>Password:</p>
            <input type="password" name="newpassword" placeholder="enter a password">
            
            <input type="submit" >
       </fieldset>
    </form>

</body>
</html>